/* common  */

body{
    font-family: 'Open Sans', sans-serif;
    
}
/*  nav star */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 130px;
}
.nav-logo{
font-size: 45px;
font-weight: 800;
}
.nav-logo span{
    color: #FD6E0A;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style:none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}
.btn-primary a{
    background-color: #FD6E0A;
    border:transparent ;
    color: #fff;
    padding: 15px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
